In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql
from datetime import datetime, timedelta, date

In [2]:
df_data = pd.read_csv('data.csv')

In [3]:
conn = sql.connect("db_SQL.db")

In [7]:
df_data.to_sql('input_data', conn)

129201

In [8]:
## I am not completely sure that I've understood the expectation. Still, I used approach to query relevant attributes 
## from dataset needed to analyse overdue agreements. Create tabe if not exists is not supporther in Jupyter, however
## it is possible to test scripts here and ensure that they work well. 

query_b ='''

--create table if not exists {{reports}}.overdue_agreements AS is not supported in Jypiter, but can be used in other softwehere

with facts as (
     select loan_id,
            client_id
     from input_data
       where loan_issued = 1 --only issued agreements are needed for overdue analytics
)
select ft.loan_id,
       ft.client_id,
       dt.loan_term,
       date(dt.loan_created_on)                  loan_created_on, 
       date(dt.loan_paid_on)                     loan_paid_on,
       Cast ((JulianDay(dt.loan_paid_on) 
            - JulianDay(dt.loan_created_on)
            -  dt.loan_term
                  ) As Integer)                  overdue_in_days,
       dt.client_debt,
       date(dt.client_birth_date)                client_birth_date
from facts ft
    left join input_data dt on ft.loan_id = dt.loan_id
 where dt.loan_paid_on is not null
'''

In [9]:
df_task_1_b = pd.read_sql(query_b, conn)

In [10]:
df_task_1_b

,loan_id,client_id,loan_term,loan_created_on,loan_paid_on,overdue_in_days,client_debt,client_birth_date
0,1,1,69,2019-06-15,2019-08-23,0,0,1981-12-31
1,2,2,90,2019-05-23,2019-08-21,0,837,1998-09-10
2,6,6,30,2019-05-29,2019-06-28,0,50,1973-01-30
3,8,8,30,2019-05-24,2019-06-23,0,0,1986-11-13
4,9,9,90,2019-06-03,2019-09-01,0,12135,1993-10-17
...,...,...,...,...,...,...,...,...
62846,129183,75925,29,2021-04-06,2021-05-05,0,50,1976-11-01
62847,129186,75965,29,2021-04-06,2021-05-05,0,7861,2003-06-25
62848,129195,76366,19,2021-04-06,2021-04-25,0,0,2003-06-22
62849,129196,76470,28,2021-04-06,2021-05-04,0,0,1992-08-15
62850,129198,76492,28,2021-04-06,2021-05-04,0,0,1986-09-08

In [11]:
## Validates yearly and monthly dynamics of client’s characteristics who have not repaid the loans and 
## compares them to the ones who made repayment. 

query_c ='''
--create view if not exists {{reports}}.undapid_loan_client_data AS 
-- is not supported in Jypiter, but can be used in other softwehere

with base as (
     select loan_id
     from input_data
       where loan_issued = 1 --only issued agreements are needed for overdue analytics
       ),
    loan_repayed as (
       select strftime('%m-%Y', dt.loan_created_on)   creadted_on_mm_yyyy,
              dt.loan_id,
              dt.client_income,
              dt.client_expenses,
              (dt.client_expenses)/
                  (dt.client_income)                  client_expenses_to_income,
              dt.client_liabilities,
              dt.client_debt
       from base bs
             left join input_data dt on bs.loan_id = dt.loan_id 
        where dt.loan_paid_on is not null
        ),
   not_repayed_loan as (
       select strftime('%m-%Y', dt.loan_created_on)   creadted_on_mm_yyyy,
              dt.loan_id,
              dt.client_income,
              dt.client_expenses,
              (dt.client_expenses)/
                  (dt.client_income)                 client_expenses_to_income,
              dt.client_liabilities,
              dt.client_debt
       from base bs
             left join input_data dt on bs.loan_id = dt.loan_id 
        where dt.loan_paid_on is null
       ),
    total as (
           select coalesce(rp.creadted_on_mm_yyyy, nr.creadted_on_mm_yyyy)      creadted_on_mm_yyyy,
                  bs.loan_id,
                  coalesce (rp.client_income, nr.client_income)                            client_income,
                  coalesce (rp.client_expenses, nr.client_expenses)                        client_expenses,
                  coalesce (rp.client_expenses_to_income, nr.client_expenses_to_income)    client_expenses_to_income,
                  coalesce (rp.client_liabilities, nr.client_liabilities)                  client_liabilities,
                  coalesce (rp.client_debt, nr.client_debt)                                client_debt,
                  case 
                      when rp.creadted_on_mm_yyyy  is not null 
                          then  'repayed'
                          else 'not_repayed'  end                                          repayment_status
           from base bs
               left join loan_repayed rp on bs.loan_id = rp.loan_id     -- since full outer join not supported in sqlight
               left join not_repayed_loan nr on bs.loan_id = nr.loan_id
)
select creadted_on_mm_yyyy,
       repayment_status,
       avg(client_income)                avg_client_income,
       avg(client_expenses)              avg_client_expenses,
       avg(client_expenses_to_income)    avg_client_expenses_to_income,
       avg(client_liabilities)           avg_client_liabilities,
       avg(client_debt)                  avg_client_debt
from total 
group by 1,2
'''

In [12]:
df_task_1_c = pd.read_sql(query_c, conn)

In [13]:
df_task_1_c

,creadted_on_mm_yyyy,repayment_status,avg_client_income,avg_client_expenses,avg_client_expenses_to_income,avg_client_liabilities,avg_client_debt
0,01-2020,not_repayed,2540.924205,601.762836,0.224939,268.026895,4372.085575
1,01-2020,repayed,3075.254313,662.659989,0.124652,182.227045,1678.831942
2,01-2021,not_repayed,2384.038679,569.570755,0.183962,242.047170,3375.342453
3,01-2021,repayed,3145.469760,644.422764,0.106881,168.580607,2344.666865
4,02-2020,not_repayed,2491.333333,530.971545,0.154472,292.804878,2873.373984
5,02-2020,repayed,3085.330838,647.144461,0.097305,166.447605,2413.049401
6,02-2021,not_repayed,2822.242510,599.672696,0.195591,200.522894,3280.624647
7,02-2021,repayed,3217.266192,631.420533,0.115526,159.700735,2058.099449
8,03-2020,not_repayed,2357.947883,635.612378,0.325733,311.687296,3466.980456
9,03-2020,repayed,3153.007756,650.577839,0.122992,166.402770,1956.226593
10,03-2021,not_repayed,2850.162859,618.152174,0.147384,220.128961,2887.096168
11,03-2021,repayed,3177.001010,667.520202,0.091414,161.165152,2216.896970
12,04-2020,not_repayed,2444.186047,568.104651,0.259690,422.724806,4721.383721
13,04-2020,repayed,3086.109567,653.971673,0.101550,185.251203,1607.277392
14,04-2021,not_repayed,3018.610260,627.230301,0.115335,180.393431,2585.665805
15,04-2021,repayed,3215.224437,619.938264,0.077170,149.142765,2066.970418
16,05-2019,not_repayed,2184.736842,371.789474,0.578947,550.526316,3941.157895
17,05-2019,repayed,3124.203279,612.895082,0.081967,151.685246,974.262295
18,05-2020,not_repayed,2402.600418,591.790795,0.246862,217.738494,2576.303347
19,05-2020,repayed,3139.957635,671.871921,0.114286,173.941872,1853.897044
20,05-2021,not_repayed,2956.351014,630.081123,0.110764,199.148206,2283.104524
21,06-2019,not_repayed,2869.573913,615.356522,0.321739,404.008696,4249.773913
22,06-2019,repayed,2996.534332,617.499376,0.098627,166.520599,2042.312110
23,06-2020,not_repayed,2805.922078,589.761039,0.241558,250.981818,5026.142857
24,06-2020,repayed,3069.167967,654.898118,0.094080,158.826985,1698.047269
25,07-2019,not_repayed,2317.212560,605.570048,0.328502,312.753623,3983.628019
26,07-2019,repayed,2968.761006,651.606132,0.114780,173.718553,2031.107704
27,07-2020,not_repayed,2429.288571,531.068571,0.271429,408.985714,4317.445714
28,07-2020,repayed,3041.345205,639.624384,0.114795,158.818082,1960.207397
29,08-2019,not_repayed,2717.870550,598.110032,0.229773,293.213592,5634.533981
30,08-2019,repayed,3141.163766,669.959652,0.109177,167.544304,1696.454114
31,08-2020,not_repayed,2608.727397,596.763014,0.305479,288.279452,4054.795890
32,08-2020,repayed,3176.988054,667.080701,0.100611,164.234404,1915.160074
33,09-2019,not_repayed,2527.994723,567.775726,0.158311,290.174142,3485.435356
34,09-2019,repayed,3153.153901,640.902837,0.094326,161.266667,2338.061702
35,09-2020,not_repayed,2524.317483,539.365035,0.211189,326.044755,3734.853147
36,09-2020,repayed,3124.463262,649.154575,0.100739,172.325323,1735.052911
37,10-2019,not_repayed,2632.418719,571.743842,0.162562,244.482759,3480.522167
38,10-2019,repayed,3009.715719,642.953177,0.166555,165.798662,1697.689632
39,10-2020,not_repayed,2506.234522,540.005629,0.228893,431.500938,4365.294559
40,10-2020,repayed,3102.397365,666.417552,0.103697,166.715682,1673.168296
41,11-2019,not_repayed,2652.004615,589.013846,0.149231,220.260000,3572.773846
42,11-2019,repayed,3184.590734,672.038610,0.088031,188.969884,2177.267954
43,11-2020,not_repayed,2441.356383,542.639628,0.251330,244.186170,4583.672872
44,11-2020,repayed,3120.825492,638.557805,0.093545,163.916302,1821.075857
45,12-2019,not_repayed,2467.665730,656.654494,0.264045,243.415730,4460.744382
46,12-2019,repayed,3156.794473,658.641336,0.103051,182.496834,2441.624064
47,12-2020,not_repayed,2621.787456,535.147503,0.171893,245.265970,4231.180023
48,12-2020,repayed,3165.480858,635.062697,0.099131,163.117625,2050.899205